<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>¿Realmente deseas elminar este proyecto?</title>
    <link rel="stylesheet" href="../css/delete.css">
</head>
<body>
    <p id="cabecera">¿Realmente deseas eliminarlo?</p>
    <h4 id="title"></h4>
    
    <div class="box">
        <input type="password" name="passproject" id="passproject" placeholder="Contraseña">
        <div class="buttons">
            <button id="deleteproj" class="button">Eliminar</button>
            <button id="cancel" class="button">Cancelar</button>
        </div>
    </div>
    

    <script src="../js/deleteproject.js"></script>
</body>
</html>