<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SGP: SCode</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div id="top">
        <p class="cabecera">Sistema administrador de proyectos: Basados en la metodología RUP</p>
        <a id="closes">
            <p class="cabecera closee">X</p>
        </a>
    </div>
    
    <div id="projectbox"></div>

    <a class="boton" id="newproject" title="¡Crear nuevo proyecto!"></a>

    <script src="../js/index.js"></script>
</body>
</html>